{
  "openapi": "3.1.0",
  "info": {
    "title": "PrizePicks Data API (Actions)",
    "description": "Minimal OpenAPI surface (<=30 ops) for GPT Actions. Prefer hierarchy connector-safe slices.\nHierarchy lineage fields refer to the exact local master acquisition. Native projection/player IDs are nullable for legacy captures; mirror-generated IDs are separate. sourceScrapedAt is observation time; generatedAt is not a freshness claim.",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://cdn.jsdelivr.net/gh/enkday/prizepicks-data-mirror@main"
    }
  ],
  "paths": {
    "/data/hierarchy/current_day/games.json": {
      "get": {
        "summary": "Normalized games (current_day)",
        "operationId": "getNormalizedGamesCurrentDay",
        "responses": {
          "200": {
            "description": "Array of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedGame"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/games.json": {
      "get": {
        "summary": "Normalized games (tomorrow)",
        "operationId": "getNormalizedGamesTomorrow",
        "responses": {
          "200": {
            "description": "Array of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedGame"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/{sport}/props-index.json": {
      "get": {
        "summary": "Connector-safe props index (current_day)",
        "description": "Small index listing games/slates and paths to per-game/per-slate prop slice files.",
        "operationId": "getSportPropsIndexCurrentDay",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lowercase sport slug (e.g., nfl, nba, ncaaf)"
          }
        ],
        "responses": {
          "200": {
            "description": "Sport props index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportPropsIndex"
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/{sport}/props-index.json": {
      "get": {
        "summary": "Connector-safe props index (tomorrow)",
        "description": "Small index listing games/slates and paths to per-game/per-slate prop slice files.",
        "operationId": "getSportPropsIndexTomorrow",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Lowercase sport slug (e.g., nfl, nba, ncaaf)"
          }
        ],
        "responses": {
          "200": {
            "description": "Sport props index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SportPropsIndex"
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/{sport}/props-by-game/{gameId}.json": {
      "get": {
        "summary": "Connector-safe props by game (current_day)",
        "operationId": "getSportPropsByGameCurrentDay",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedProp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/{sport}/props-by-game/{gameId}.json": {
      "get": {
        "summary": "Connector-safe props by game (tomorrow)",
        "operationId": "getSportPropsByGameTomorrow",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gameId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedProp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/current_day/{sport}/props-by-slate/{slate}.json": {
      "get": {
        "summary": "Connector-safe props by slate (current_day)",
        "operationId": "getSportPropsBySlateCurrentDay",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedProp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/hierarchy/tomorrow/{sport}/props-by-slate/{slate}.json": {
      "get": {
        "summary": "Connector-safe props by slate (tomorrow)",
        "operationId": "getSportPropsBySlateTomorrow",
        "parameters": [
          {
            "name": "sport",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Array of normalized props",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NormalizedProp"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/prizepicks-nfl-tomorrow-top-50.json": {
      "get": {
        "summary": "NFL tomorrow top-50 (proof-of-scrape)",
        "description": "Small payload. Use only to read `scrapedDate` proof-of-fetch; do NOT treat as the full prop universe.",
        "operationId": "getNFLPropsTomorrowTop50",
        "responses": {
          "200": {
            "description": "PrizePicksData payload",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrizePicksData"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PrizePicksData": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "scrapedDate": {
            "type": "string"
          },
          "props": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          }
        }
      },
      "SportPropsIndex": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "sport",
          "sportSlug",
          "games"
        ],
        "properties": {
          "sport": {
            "type": "string"
          },
          "sportSlug": {
            "type": "string"
          },
          "dayBranch": {
            "type": "string"
          },
          "gameCount": {
            "type": "integer"
          },
          "propCount": {
            "type": "integer"
          },
          "games": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "required": [
                "gameId",
                "path"
              ],
              "properties": {
                "gameId": {
                  "type": "string"
                },
                "slate": {
                  "type": "string"
                },
                "startTime": {
                  "type": "string"
                },
                "startTimeIso": {
                  "type": "string"
                },
                "teams": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "propCount": {
                  "type": "integer"
                },
                "path": {
                  "type": "string"
                },
                "eventTimeVerified": {
                  "type": "boolean",
                  "description": "True only when the game start is linked to one unambiguous provider game timestamp; projection lock times remain separate."
                }
              }
            }
          },
          "slates": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "slate": {
                  "type": "string"
                },
                "propCount": {
                  "type": "integer"
                },
                "path": {
                  "type": "string"
                }
              }
            }
          },
          "sourcePath": {
            "type": "string",
            "nullable": true
          },
          "sourcePayloadHash": {
            "type": "string",
            "nullable": true
          },
          "sourceScrapedAt": {
            "type": "string",
            "nullable": true
          },
          "sourceScrapedDate": {
            "type": "string",
            "nullable": true
          },
          "observedDate": {
            "type": "string",
            "format": "date"
          },
          "completeness": {
            "type": "string",
            "enum": [
              "reported",
              "legacy-unverified"
            ]
          }
        }
      },
      "NormalizedGame": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "gameId": {
            "type": "string"
          },
          "sport": {
            "type": "string"
          },
          "startTimeIso": {
            "type": "string",
            "format": "date-time"
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sourceEventConflict": {
            "type": "boolean"
          },
          "startTimeSelectionRule": {
            "type": "string"
          },
          "eventTimeVerified": {
            "type": "boolean",
            "description": "True only when the game start is linked to one unambiguous provider game timestamp; projection lock times remain separate."
          }
        }
      },
      "NormalizedProp": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "propId": {
            "type": "string"
          },
          "gameId": {
            "type": "string"
          },
          "playerId": {
            "type": "string"
          },
          "stat": {
            "type": "string"
          },
          "line": {
            "oneOf": [
              { "type": "string", "pattern": "^-?(?:0|[1-9][0-9]*)(?:\\.[0-9]+)?(?:[eE][+-]?[0-9]+)?$" },
              { "type": "number" }
            ],
            "description": "Exact decimal string in new hierarchy builds; legacy files may contain JSON numbers."
          },
          "sourcePath": {
            "type": "string",
            "nullable": true
          },
          "sourcePayloadHash": {
            "type": "string",
            "nullable": true
          },
          "sourceScrapedAt": {
            "type": "string",
            "nullable": true
          },
          "sourceScrapedDate": {
            "type": "string",
            "nullable": true
          },
          "sourcePointer": {
            "type": "string",
            "nullable": true
          },
          "sourceRecordId": {
            "type": "string",
            "nullable": true
          },
          "sourceRecordIdKind": {
            "type": "string",
            "nullable": true
          },
          "nativeProjectionId": {
            "type": "string",
            "nullable": true
          },
          "nativePlayerId": {
            "type": "string",
            "nullable": true
          },
          "providerStatus": {
            "type": "string",
            "nullable": true
          },
          "providerFetchedAt": {
            "type": "string",
            "nullable": true
          },
          "eventStartTimeIso": {
            "type": "string",
            "nullable": true
          },
          "sourceConflict": {
            "type": "boolean"
          },
          "sourceEventConflict": {
            "type": "boolean"
          },
          "eventTimeVerified": {
            "type": "boolean"
          },
          "rank": {
            "type": "number",
            "nullable": true
          },
          "eventTimeSources": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sourcePointer": {
                  "type": "string"
                },
                "startTimeIso": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      }
    }
  }
}
